@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>İletişim</h1>
<img src="~/Content/image/resim.jpg" width="300" height="250" alt="resim" class="img-left" />
<p>
Fusce vel posuere turpis, vitae blandit lorem. Curabitur finibus eros odio, ut vestibulum est rhoncus sit amet. Nunc molestie lorem eu molestie lobortis. Vivamus viverra elit in felis vehicula, sit amet rhoncus ipsum mattis. Curabitur ac ante congue, convallis felis sed, congue purus. Morbi tincidunt justo ipsum, ut molestie massa tincidunt vitae. Fusce accumsan turpis a blandit feugiat. Maecenas volutpat consequat enim, eget sollicitudin risus. Morbi blandit non lectus eu placerat. Nunc arcu enim, scelerisque vel mauris id, blandit imperdiet nunc. Nulla semper lorem in nunc tempus, in vehicula ligula sodales. Maecenas tincidunt, nisi at convallis consectetur, ante purus lacinia dolor, ac consequat purus ante eget leo. Aenean varius risus finibus, mollis magna nec, convallis erat. Praesent et sem eget est pellentesque tincidunt vitae vitae leo. Phasellus a turpis fringilla, accumsan augue nec, malesuada massa. Vivamus lorem augue, euismod vel ligula ut, blandit auctor mauris.
</p>