<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name ="description" content=""/>
    <meta name="keywords" content=""/>
    <title>@ViewBag.Title</title>
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
</head>
<body>
    <section id="container">
        <header>
            <a href="/">
                <div id ="logo"></div>
            </a>
            <div id="social-media">
                <a href="//facebook.com/" target="_blank">
                    <div class="social" >
                        <img src="~/Content/image/images.png" width:"48" height="48" alt="facebook" />
                    </div>
                </a>
                <a href="//twitter.com" target="_blank">
                    <div class="social">
                    <img src="~/Content/image/images%20(1).png" width:"48" height="48" alt="twitter" />
                </div>
                </a>
                <a href="#" target="_blank">
                    <div class="social">
                    <img src="~/Content/image/indir.png" width:"48" height="48" alt="google plus"   />
                </div>
                </a>
            </div>
        </header>
        <nav>
            <a href="/.">
                <div class="naw-item">
                    <span>Ana Sayfa</span>
                </div>
            </a>
            <a href="/hakkimda">
                <div class="naw-item">
                    <span>Hakkımda</span>
                </div>
            </a>
            <a href="/referans">
                <div class="naw-item">
                    <span>Referans</span>
                </div>
            </a>
            <a href="/dersler">
                <div class="naw-item">
                    <span>Dersler</span>
                </div>
            </a>
            <a href="/iletisim">
                <div class="naw-item" style="width: 192px; border:0;">
                    <span>İletişim</span>
                </div>
            </a>
        </nav>
        <section id="content">
             @RenderBody() 
        </section>
        <footer>
            <small>2015 &copy; Firma Adı | Tüm Hakları Saklıdır.</small>
        </footer>
    </section>  
</body>
</html>
