@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Ana Sayfa</h1>
<img src="~/Content/image/resim.jpg" width="300" height="250" alt="resim" class="img-left" />

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis sed ex nec volutpat. Pellentesque vitae laoreet leo. Donec nibh lorem, lobortis id vulputate et, laoreet sed erat. Nullam sodales orci sit amet lacus fermentum, eu varius augue mattis. Nunc tempus auctor rutrum. Cras sed nibh id lorem semper condimentum eu ut nibh. In quis mollis purus, sed semper nibh. Morbi varius libero in aliquet accumsan. Vestibulum mattis non diam ut consequat. Nulla tincidunt mollis cursus. Duis consectetur ipsum nec convallis iaculis. Vivamus non blandit massa.
</p>
<p>
Etiam dignissim mattis elit, ut fringilla ante vehicula ut. Vestibulum at volutpat ante, sit amet lacinia felis. Quisque id finibus nisl. Quisque id ex eu felis eleifend aliquam non ac risus. Nullam dapibus erat sapien, sit amet molestie nulla tempor at. Sed non massa eu felis ultrices vulputate ut ac mauris. Vivamus nec vehicula nibh, vitae vulputate dolor. Aliquam vestibulum, urna id tincidunt pellentesque, purus mi fringilla quam, eget feugiat nibh purus vel metus. Aenean sagittis consectetur maximus. Nulla volutpat ut odio a aliquam. Donec ultrices lacinia tempor.
</p>
<p>
Mauris mattis erat sapien. Donec ornare nulla erat. Pellentesque interdum massa dolor, pretium dapibus tellus cursus a. Aliquam erat volutpat. Curabitur a egestas lacus. Sed ac odio molestie, porta orci vel, malesuada eros. Aliquam eleifend imperdiet sodales.
</p>
<p>
Aliquam at semper tellus. Fusce vitae erat placerat, commodo nisl id, semper est. Aenean lacus orci, ornare id dapibus at, dignissim in erat. Mauris egestas ligula accumsan auctor elementum. Fusce quis hendrerit orci. Cras eget ex finibus, vestibulum sapien sit amet, ultricies est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum placerat elementum quam, ac ornare purus viverra vel. Pellentesque tempor odio nulla. Nulla a enim at velit fermentum tristique sollicitudin sit amet augue.
</p>
<p>
Aenean pellentesque pharetra mattis. Duis at vulputate felis. Duis nec enim augue. Aliquam aliquam tortor metus, ac eleifend lorem vulputate tincidunt. Cras eleifend tellus nulla, ac laoreet mauris ultrices hendrerit. Maecenas aliquam dignissim auctor. Nam ullamcorper mollis ultricies. Etiam finibus lacinia commodo. Nam placerat dui nec leo suscipit tincidunt. Fusce posuere imperdiet orci in auctor. Cras quis massa sit amet mauris condimentum tempus eu et ipsum. Nulla id risus viverra, facilisis neque vel, convallis velit. Morbi et lorem nisi. Nunc efficitur mi varius urna condimentum, non sollicitudin eros finibus. Suspendisse quis libero imperdiet, pellentesque nibh sed, consectetur lorem. Proin egestas sapien velit, quis egestas dui dapibus imperdiet.
</p>
