@{
    ViewBag.Title = "hakkimda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Hakkımda</h1>
<img src="~/Content/image/resim.jpg" width="300" height="250" alt="resim" class="img-left" />
<p>
Fusce lobortis lorem sem, sit amet facilisis nisi placerat non. Sed ultrices vehicula rutrum. Ut elementum vitae purus ac ornare. In et nisl et diam porta aliquam. Nam convallis quis nulla ac rhoncus. Nunc nec ultricies nibh. Sed ante ante, commodo quis eros eget, vehicula rutrum mi.
</p>
<p>
Proin efficitur neque in elit cursus vehicula. Ut vitae tempor tellus, sit amet facilisis eros. Morbi sit amet metus eu ex dapibus venenatis. Suspendisse venenatis non augue vel iaculis. Donec dapibus enim a turpis interdum, nec consequat metus mattis. Donec congue congue aliquam. Aliquam lacinia nulla tincidunt eros ultricies convallis. Nullam aliquet consectetur ipsum ac fringilla. Quisque iaculis quam in varius tempus.
</p>
<p>
Cras dictum tempus turpis, a varius urna eleifend eu. Aliquam placerat pellentesque tincidunt. Cras sed viverra lorem, nec mattis leo. Mauris sagittis et turpis vel tristique. Aliquam viverra sem mi, ut dictum magna scelerisque ac. Nunc at bibendum arcu, a pretium enim. Nam ullamcorper non erat eget ullamcorper. Nulla id commodo turpis, quis sodales sapien. Suspendisse tortor neque, congue a eros vel, egestas auctor elit. Quisque aliquet eros metus, vitae elementum neque rutrum ac. Morbi vitae elit nunc. Nunc ornare dictum odio, sit amet blandit est lobortis sed.
</p>
<p>
Ut a aliquam purus, non bibendum nisl. Integer nec commodo erat. Pellentesque commodo eros risus, non vehicula quam blandit at. Integer vel nisi mollis, venenatis quam ac, gravida nibh. Vestibulum tempus fringilla euismod. Vestibulum commodo eros in dolor fermentum, ac congue eros hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse diam elit, semper a aliquam quis, finibus a enim. Morbi eu sem felis. Mauris volutpat nulla eu justo ullamcorper, ac faucibus diam mollis. Sed in nisl tellus. Aliquam ultrices ante non orci blandit, quis tincidunt augue luctus. Aliquam rutrum dignissim nisl ac cursus. Nunc vitae orci mi.
</p>