@{
    ViewBag.Title = "Dersler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Dersler</h1>
<img src="~/Content/image/resim.jpg" width="300" height="250" alt="resim" class="img-left" />

<p>
Aenean tincidunt sapien in tellus dapibus, at sodales dolor sodales. Mauris vel vulputate mauris. Morbi sit amet sodales urna. Proin eget dictum lacus. Sed sagittis egestas sapien, nec pretium tortor. Vivamus vehicula sem sodales viverra fringilla. Vestibulum efficitur sem at justo fermentum eleifend. Etiam rutrum eros convallis, ultricies dolor nec, viverra tellus.
</p>
<p>
Fusce lobortis lorem sem, sit amet facilisis nisi placerat non. Sed ultrices vehicula rutrum. Ut elementum vitae purus ac ornare. In et nisl et diam porta aliquam. Nam convallis quis nulla ac rhoncus. Nunc nec ultricies nibh. Sed ante ante, commodo quis eros eget, vehicula rutrum mi.
</p>
