<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="Jquery.KullaniciServisAspNetAjaxBehavior">

                  <webHttp />
                  
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="Jquery.KullaniciServis">
                <endpoint address="" behaviorConfiguration="Jquery.KullaniciServisAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Jquery.KullaniciServis" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
