@{
    ViewBag.Title = "referans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Referans</h1>
<img src="~/Content/image/resim.jpg" width="300" height="250" alt="resim" class="img-left" />
<p>
Aenean at convallis tellus. Vestibulum congue, erat sed aliquet porttitor, metus dolor suscipit lorem, ac fermentum arcu magna at purus. Praesent porta justo eget tortor suscipit sollicitudin pretium id risus. Cras vel finibus metus. Nullam cursus dui ut enim porta, at fermentum tellus cursus. Vivamus maximus erat dolor, vitae dignissim erat efficitur tempor. Integer porttitor ipsum non massa sollicitudin, sed sagittis sem posuere. Suspendisse metus massa, suscipit id orci a, tincidunt ornare tortor. Maecenas sit amet ligula augue. Donec faucibus mi vitae tristique porttitor. Nullam accumsan mattis aliquet. Proin semper purus mauris, in viverra risus pellentesque nec. Curabitur quis dui felis. Aliquam erat volutpat. Cras justo elit, posuere sit amet gravida a, dapibus et nunc.
</p>
<p>
Donec finibus venenatis enim eu semper. Suspendisse consequat, ante vel sollicitudin fermentum, lectus risus hendrerit ipsum, sit amet ultrices augue magna sit amet turpis. Phasellus vestibulum sed nunc vitae dignissim. Donec porta sit amet turpis at tincidunt. Suspendisse venenatis mattis dui sed commodo. Nam id pulvinar odio. Etiam in sem lacus. Mauris eget ante viverra, placerat dolor vel, tincidunt tortor. Fusce ex neque, varius sit amet leo vel, lacinia congue elit. Vestibulum quis ipsum odio. Curabitur non aliquam sapien, vitae lacinia lacus. Sed in lacus fermentum, accumsan arcu sit amet, mollis neque. Maecenas fermentum porttitor sapien, ut sollicitudin lacus rutrum a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in mauris eu risus mollis ullamcorper. Maecenas eu enim condimentum, tempus nulla nec, scelerisque augue.
</p>
<p>
Suspendisse potenti. Vivamus tincidunt risus at lorem vehicula consectetur. Proin nec eros metus. Pellentesque condimentum rutrum quam, id pharetra enim mollis et. Cras tristique suscipit nunc non luctus. Aenean feugiat nulla vitae ex condimentum, ut mattis nisl mollis. Cras lacinia justo eget tincidunt tempor. Vestibulum varius finibus posuere. Donec facilisis viverra diam, lacinia molestie libero dictum in. Pellentesque porttitor, turpis vel interdum feugiat, magna risus consequat justo, nec laoreet urna nulla vel est. Aenean eu mauris id odio convallis dapibus. Suspendisse non auctor magna, a iaculis magna. Sed id ligula ipsum. Maecenas sed rhoncus nisl. Aliquam euismod tincidunt turpis eu bibendum.
</p>
<p>
Integer ac tincidunt odio. Aliquam dapibus accumsan arcu at placerat. Curabitur bibendum nunc maximus justo fermentum faucibus. Praesent congue vehicula maximus. Nulla nec dapibus eros. Vestibulum egestas, quam scelerisque fermentum varius, turpis odio cursus dui, at imperdiet tortor ipsum sed metus. Mauris tellus turpis, faucibus et est vitae, aliquam luctus eros. Morbi eleifend efficitur vulputate.
</p>
<p>
Nullam id condimentum risus. Proin at nisl at sem finibus tincidunt. Fusce egestas condimentum orci, vitae scelerisque libero iaculis ut. Donec sit amet mattis neque. Nullam eu rutrum sem. Phasellus porta at leo non imperdiet. Morbi placerat lorem eget faucibus elementum. Proin eget dolor ipsum. Mauris non risus vel massa faucibus tristique vitae ac eros. Vivamus eget justo ullamcorper, aliquet felis et, lobortis risus. Sed quis libero elementum, molestie magna eu, maximus lorem. Nulla malesuada auctor tellus sed laoreet. Maecenas tincidunt feugiat nisi nec tempor.
</p>
<p>
Integer varius auctor mauris id ultrices. Pellentesque arcu justo, interdum eu erat sed, hendrerit bibendum mi. Aenean bibendum ac velit placerat finibus. Proin posuere ex sed posuere venenatis. Vestibulum dignissim posuere ultrices. Etiam erat velit, tincidunt sit amet vulputate in, varius non augue. Suspendisse volutpat metus eu tortor suscipit, aliquet gravida tellus commodo. Pellentesque tincidunt, dui eu bibendum pulvinar, lectus quam euismod sem, vitae pharetra ipsum ante ut elit. Vivamus elementum auctor semper. Nullam id nisl semper orci blandit auctor. Aenean ac eleifend lacus.
</p>